<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main"} -->
<main class="wp-block-group site-main">
    <!-- wp:group {"className":"hero parallaxie"} -->
    <div class="wp-block-group hero parallaxie">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-10">
                    <div class="hero-content">
                        <div class="section-title">
                            <h3 class="wow fadeInUp">crafted with love, served with passion</h3>
                            <h1 class="text-anime-style-3">Step into the aroma of freshly coffee</h1>
                            <p class="wow fadeInUp">Discover a place where every cup is a masterpiece, crafted with passion and precision. From the rich, bold flavors of our signature blends to the cozy ambiance that feels like home.</p>
                        </div>
                        <div class="hero-btn wow fadeInUp">
                            <a href="/about" class="btn-default">Discover coffee</a>
                            <a href="/book-table" class="btn-default btn-highlighted">book a table</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"intro-video parallaxie"} -->
    <div class="wp-block-group intro-video parallaxie">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="intro-video-content">
                        <div class="section-title">
                            <h3 class="wow fadeInUp">our journey of success</h3>
                            <h2 class="text-anime-style-3">Our coffee adventure, your favorite place</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /wp:group -->

    <!-- wp:post-content {"layout":{"inherit":true}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->



