<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
    <!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","sticky":"","inherit":true}} -->
    <div class="wp-block-query">
        <!-- wp:post-template -->
            <!-- wp:group {"layout":{"inherit":true}} -->
            <div class="wp-block-group">
                <!-- wp:post-title {"isLink":true,"fontSize":"large"} /-->

                <!-- wp:group {"className":"post-meta","layout":{"type":"flex"},"style":{"spacing":{"margin":{"bottom":"1rem"}}}} -->
                <div class="wp-block-group post-meta">
                    <!-- wp:post-date /-->
                    <!-- wp:post-author {"showAvatar":false} /-->
                </div>
                <!-- /wp:group -->

                <!-- wp:post-featured-image {"isLink":true} /-->
                <!-- wp:post-excerpt /-->
                <!-- wp:spacer {"height":"20px"} -->
                <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
                <!-- /wp:spacer -->
            </div>
            <!-- /wp:group -->
        <!-- /wp:post-template -->

        <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
            <!-- wp:query-pagination-previous /-->
            <!-- wp:query-pagination-numbers /-->
            <!-- wp:query-pagination-next /-->
        <!-- /wp:query-pagination -->
    </div>
    <!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
