<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group">
    <!-- wp:pattern {"slug":"twentytwentyfive/hero-coffee"} /-->

    <!-- wp:pattern {"slug":"twentytwentyfive/coffee-ticker"} /-->

    <!-- wp:pattern {"slug":"twentytwentyfive/about-coffee-shop"} /-->

    <!-- wp:pattern {"slug":"twentytwentyfive/why-choose-us"} /-->

    <!-- wp:pattern {"slug":"twentytwentyfive/intro-video"} /-->

    <!-- wp:pattern {"slug":"twentytwentyfive/coffee-menu"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->