<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main"} -->
<main class="wp-block-group site-main">
    <!-- wp:pattern {"slug":"grind/hero-section"} /-->
    
    <!-- wp:pattern {"slug":"grind/ticker-section"} /-->
    
    <!-- wp:pattern {"slug":"grind/about-section"} /-->
    
    <!-- wp:pattern {"slug":"grind/features-section"} /-->
    
    <!-- wp:pattern {"slug":"grind/video-section"} /-->
    
    <!-- wp:pattern {"slug":"grind/menu-section"} /-->
    
    <!-- wp:pattern {"slug":"grind/testimonials-section"} /-->
    
    <!-- wp:pattern {"slug":"grind/contact-section"} /-->
    
    <!-- wp:pattern {"slug":"grind/newsletter-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
